body{
    background-color: pink;
    background-image: url("https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=1380&t=st=1694934127~exp=1694934727~hmac=149eddc053cadc491b317ede7df72996bd175ce858ed4dd41031afd070caab48");
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    background-color: aquamarine;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    margin-left: 25%;
    font-size: 18px;
}
h1{
    padding-left: 25%;
    color: brown;
}
div{
    padding: 30px;
    margin-top: 40px;
}